
*.sublime-workspace
.SyncID
.SyncIgnore
.directory

# This project
old/
out/
debug.log
*.o
doc/generated/

generated/
generated-c/
nbproject/

build/
dist/

*.map

# npm stuff
node_modules/
npm-debug.log
