
*.sublime-workspace
.SyncID
.SyncIgnore

# This project
old/
out/
liteCompiler-v*/
debug.log
/devel/liteCompiler-manualC/litelib/build/
/devel/liteCompiler-manualC/litelib/dist/
/devel/liteCompiler-manualC/Ctest/build/
/devel/liteCompiler-manualC/Ctest/dist/
/devel/liteC/Ctest/build/
/devel/liteC/Ctest/dist/
/devel/LiteToC/Ctest-BAK/build/
/devel/LiteToC/Ctest-BAK/dist/
/devel/liteC/Ctest/LiteC/LiteC-core/build/
/devel/liteC/Ctest/LiteC/LiteC-core/dist/