body
{
    font-family: tahoma;
    margin: 0;
    margin-top: 0.5%;
    background: rgb(35, 39, 34);
    color: white;
    height:99%;
}

.source-header {
    height: 34px;
    width: 98%;
    padding-left: 12;
    padding-top: 4px;
    padding-bottom: 0;
    background: rgb(75, 103, 126);
    border-bottom: 4px solid rgb(121, 129, 156);
    margin-bottom: 5px;
    margin-top: -2px;
    font-size: 22px;
    margin-left: 7;
}

.headers {
    height: 30px;
    background: rgb(55, 71, 83);
    width: 15%;
}

.headers td {
}

#source {  /* ace editor */
    width: 97%;
    height: 86%;
    margin-left: 5px;
    border: 2px double rgb(52, 55, 65);
}

#source textarea {
    margin: 6px;
    height: 400px;
    width: 900px;
}

#run table {
    width: 100%;
    height: 87%;
}

#run tr {
    border: 0;
    margin-left: 10px;
    overflow-x: auto;
}

#run tr.header {
    height: 30px;
}

#run tr.result {
    height: 80%;
}

#run tr.result > td > div {
    height: 100%;
}

#run.editors {
    height: 100%;
}

#run td.sep {
    width:4%;
}

#run td {
    width: 40%;
    padding: 5 10 5 10;
    border-bottom: 1px dotted rgb(80, 80, 80);
    font-size: 15px;
    font-family: "Panic Sans", "DroidSansMono", Menlo, Consolas, Lucida Console, dejavu sans mono, monospace !important;
}


.hidden{
    visibility: hidden;
    position:absolute;
}


.botonera {
    padding-left: 0;
    height: auto;
    width: 97%;
    background-color: rgb(15, 19, 22);
    margin-bottom: -3px;
    margin-top: 4px;
    color: whitesmoke;
    padding-top: 3px;
    padding-bottom: 13;
    margin-left: 4;
    border: 2px solid rgb(53, 57, 65);
    float: left;
}

.botonera-left {
    height:40px;
    float:left;
}

.botonera-left .text {
    height:25px;
    margin: 8 5 0 3;
    float:left;
}

.botonera-left textarea {
    height: 25px;
    margin: 3 3 0 2;
    float: left;
    border: 0;
}

.botonera-right {
    height:40px;
    float:right;
    margin-right: 20px;
    margin-left: 20px;
}

button {
    display: inline-block;
    padding: 6 11 6 12;
    margin: 9 -7 -2 13;
    color: black;
    text-decoration: none;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 19px;
    position: relative;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    border-bottom: 2px ridge rgb(192, 192, 192);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,from(rgba(0,0,0,1)),color-stop(75%, rgba(0,0,0,0.7)),to(rgba(0,0,0,0.4)));
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.35);
    background: rgba(247, 247, 247, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.41);
}
